[Unit]
Description=Raspberry Pi LED Director Server
After=multi-user.target
After=network.target

[Service]
Type=simple
User=baston1
Group=gpio
WorkingDirectory=/home/baston1/rpi-director
ExecStart=/home/baston1/rpi-director-venv/bin/python /home/baston1/rpi-director/rpi_director.py --mode server
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
