[Unit]
Description=Raspberry Pi LED Director Client
After=multi-user.target
After=network.target

[Service]
Type=simple
User=boston
Group=gpio
WorkingDirectory=/home/boston/rpi-director
ExecStart=/home/boston/rpi-director-venv/bin/python -m rpi_director --mode client
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
